h2 { font-size:10pt;
}

h2:first-line {

text-decoration:underline;
}

h5{
font-size:7pt;
line-height:4em;
font-style:italic;
font-weight:lighter;
margin-bottom: -10px;
}

p{

}


p.jeden{
color:green; 
text-align:center;
letter-spacing:2pt;
margin-top:4px;
margin-bottom:10px;
}

p#odstep{
line-height:10px
}

p.dwa{
color:blue;
font-size:9pt;
font-style:italic;
}

hr{
margin-top:0px;
margin-bottom:0px;
}

ol{
list-style-type:lower-alpha;
}

li{
font-weight:bold;
}

ul li{
font-weight:lighter;
list-style-type:square;
}

blockquote{
margin-left:5in;
margin-bottom:4px;
}

table{
border: 2pt solid red;
border-collapse: collapse;
font-size: 11px
}

td{
border: 2pt solid red;
border-collapse: collapse;
}

th{
font-size:9px
}

td#dol{
border-bottom: 0pt;
vertical-align:bottom;
}

td#gora{
border-top: 0pt;
}

.kolorek{
background-color:#00FFFF; color:red;
}

 a:link 
{color:#009400;
}

 a:visited {color:red;
}


 a:hover 
{background-color:white; font-size: 9pt;
}

body{

background-color:yellow;
font-family:verdana, arial, "times new roman";
margin-left:13px;
font-size:8pt;
}

* {
margin-top:0px;
margin-bottom:0px;
}

